html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.listContainer {
  display: flex;
  list-style: none;
  margin-left: 5rem;
}

.listItem {
  height: 100%;
  width: 100%;
  display: flex;
  cursor: pointer;
  padding: 0 1rem;
  align-items: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.listItem:hover .insideListContainer {
  display: flex;
}

.insideListContainer {
  border-top: 2px solid #19857b;
  display: flex;
  display: none;
  list-style: none;
  height: 70vh;
  width: 80vw;
  position: absolute;
  top: 10.3%;
  left: 5%;
  background-color: rgb(25, 133, 123, 0.2);
}

.insideListItem {
}
